<?xml version="1.0" ?>
<config>
    <modules>
        <Woomio_Tracker>
            <version>1.1.1</version>
        </Woomio_Tracker>
    </modules>
    <frontend>
        <routers>
            <tracker>
                <use>standard</use>
                <args>
                    <module>Woomio_Tracker</module>
                    <frontName>woomio</frontName>
                </args>
            </tracker>
        </routers>
        <layout>
            <updates>
                <tracker>
                    <file>tracker.xml</file>
                </tracker>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <tracker>
                <class>Woomio_Tracker_Helper</class>
            </tracker>
        </helpers>
        <blocks>
            <tracker>
                <class>Woomio_Tracker_Block</class>
            </tracker>
        </blocks>
        <resources>
            <tracker_setup>
                <setup>
                    <module>Woomio_Tracker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tracker_setup>
            <tracker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tracker_write>
            <tracker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tracker_read>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <ds_order_event>
                        <type>singleton</type>
                        <class>Woomio_Tracker_Model_Observer</class>
                        <method>setWascid</method>
                    </ds_order_event>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
